$background: salmon;
$text: moccasin;


:root {
  --mainBg: salmon;
}

body {
  background-color: var(--mainBg);
  color: $text;
}

main {
  padding: 2rem;
  background: linear-gradient(to top, black, white);

  h1 {
    text-align: center;
    font-size: 5rem;
  }
}
